* {
font-family:'Bahiana', cursive;
font-weight: 100;
}

body {
    background-color: pink;
    margin:0px;
}

.hero-img {
    background-image:url('../img/dino.png') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    width:100vw;
    overflow:hidden;
    margin:0px;
    border:0px;
}

.hero-txt {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translate(-50%, -50%);
}

.hero-btn {
    background-image: url('../img/Foot_left.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width:15vw;
    height:15vw;
    background-color:transparent;
    border:none;
}

.hero-btn-2 {
    background-image: url('../img/Foot_right.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width:17vw;
    height:17vw;
    background-color:transparent;
    border:none;
}

.hero-txt h1 {
    color:white; 
    font-size:8vw ;
}

.hero-btn a, .hero-btn-2 a {
    z-index:2;
    color:#FFA953;
    font-size:2.5vw;
    text-decoration: none;
}

.hero-btn a:hover, .hero-btn-2 a:hover {
    color:#ffce9d;
}

/* single player dino select */

.hero-img-two {
    background-color: black;
    height: 100vh;
    width:100vw;
    overflow:hidden;
    margin:0px;
    border:0px;
}

.dino {
    background-image:url('../img/Bronto.png');
    width:15vw;
    height:15vw;
}

.dino_two {
    background-image:url('../img/stego.png');
    width:15vw;
    height:15vw;
}

.dino-space {
    display:flex;
    justify-content: space-between;
    align-items: center;
}