* {
font-family:'Bahiana', cursive;
font-weight: 100;
margin:0;
padding:0;
}

body {
    background-color: rgb(0, 0, 0);
    margin:0px;
}

.hero-img {
    background-image:url('../img/dino.png') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    width:100vw;
    overflow:hidden;
    margin:0px;
    border:0px;
}

.hero-txt {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translate(-50%, -50%);
}

.hero-btn {
    background-image: url('../img/Foot_left.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width:15vw;
    height:15vw;
    background-color:transparent;
    border:none;
}

.hero-btn-2 {
    background-image: url('../img/Foot_right.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width:17vw;
    height:17vw;
    background-color:transparent;
    border:none;
}

.hero-txt h1 {
    font-size:7vw;
}

.title {
    color:white;
}

.hero-btn a, .hero-btn-2 a {
    z-index:2;
    color:#FFA953;
    font-size:2.5vw;
    text-decoration: none;
}

.hero-btn a:hover, .hero-btn-2 a:hover {
    color:#ffce9d;
}

/* single player dino select */

.hero-img-two {
    background-image:url("../img/star.png");
    height: 100vh;
    width:100vw;
    overflow:hidden;
    margin:0px;
    border:0px;
    background-repeat:no-repeat;
    background-size: cover;
    background-position:center;
}

.dino {
    background-image:url('../../assets/img/Bronto.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 15vw;
    height: 15vw;
    background-color: transparent;
    border: none;
    transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
	transition: transform 0.2s, -webkit-transform 0.2s;
}

.dino_two {
    background-image:url('../img/stego.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 15vw;
    height: 15vw;
    background-color: transparent;
    border: none;
    transition: -webkit-transform 0.2s;
	transition: transform 0.2s;
	transition: transform 0.2s, -webkit-transform 0.2s;
}

.dino:hover,
.dino_two:hover {
    -webkit-transform:scale(1.2);
        transform:scale(1.2);
}

.dino-space {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.column {
    display:flex;
    flex-direction:column;
}

.column a {
    font-size:5vw
}

.green,
.blue {
    color:white;
    text-decoration:none;
}

.green:hover {
    background: linear-gradient(17deg, rgb(115, 155, 15) 30%, rgb(185, 232, 92) 44%, rgb(166, 222, 27) 68%, rgb(143, 234, 100) 81%); 
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    transition: all 250ms ease;
}

.blue:hover {
    background: linear-gradient(17deg, rgb(34, 89, 161) 30%, rgb(93, 129, 212) 44%, rgb(181, 96, 215) 68%, rgb(98, 14, 134) 81%); 
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    transition: all 250ms ease;
}

.dino-select {
    color: #F27F77;
}

::selection {
    background-color:rgb(255, 228, 185);
}

/* Player One Code */
.bronto-bk {
    background-image: url("../img/bronto-bk.png");
    width: 70vw;
    /* height: 25vw; */
    background-repeat:no-repeat;
}

.char-bronto {
    width:17vw;
}

.char-name {
    margin-left:5vw;
    font-size:4vw;
    color:white;
}

.trait {
    width:5vw;
}

.traits-sec {
    display:flex;
    flex-direction:row;
}

p {
    font-size:3vw;
    margin-left:1vw;
    margin-right:1vw;
    top:1vw;
    position:relative;
    color:rgb(250, 248, 248);
}